@page "/"

<TabContainer>
    <Headers>
        <TabHeader Title="Home" Id="home" CssActive="true" />
        <TabHeader Title="Profile" Id="profile" />
        <TabHeader Title="Contact" Id="contact" />
    </Headers>
    <Contents>
        <TabContent Id="home" CssActive="true">
            <Content>
                <h1>Hola Mundo</h1>
            </Content>
        </TabContent>

        <TabContent Id="profile">
            <Content>
                <h1>Hola Mundo del gallinero</h1>
            </Content>
        </TabContent>

        <TabContent Id="contact">
            <Content>
                <h1>Hola Mundo del gallinero</h1>
            </Content>
        </TabContent>
    </Contents>
</TabContainer>



